.NoteSidebar  {
    color: #b5b3b3;
    font-family: var(--custom-font);
    font-size: 30px;
    height: 25vh;
    margin: 0;
    text-orientation: upright;
    width: 55px;
    writing-mode: vertical-lr;
    background-color: #0b1b32 ;
}

/* .NoteSidebar {
  background-color: #0b1b32;
  color: #fff;
  grid-area: sidebar;
  height: 100vh;
  overflow: auto;
} */
/* {width: 75px;
writing-mode: vertical-lr;} */

.NoteSidebar_backbutton {
  
        margin: 45px 20px 25px auto
     
      /* .NotePageNav__back-button:hover {
        background-color: #FFB72F;
      } */
}
/* .note {
   
        background-color: #2e2e55;
        height: 100%;
        padding: 10px;
        width: 100%;
  
        max-width: 380px;

} */

.note{
  background-color: #102541;
  grid-area: main;
  overflow: auto;
  color:#fff;
}

/* height: calc(100vh - 120px); */